<section class="mt-5">
    <div class="container my-5 p-5 bg-theme">
        <h1 class="text-white text-center">About us</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquid aut temporibus iure voluptatum
                tempora, atque recusandae necessitatibus nisi accusamus suscipit eaque doloribus laboriosam. Voluptates,
                magnam, ducimus sapiente vitae illum maiores exercitationem accusamus facere saepe explicabo, eveniet
                minima? Optio nisi, facere distinctio neque fugiat soluta dicta non obcaecati atque nihil unde
                aspernatur, vero, modi laboriosam laudantium! Aperiam earum blanditiis nemo. Dolor neque architecto fuga
                et ipsum ex vero nostrum sint.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquid aut temporibus iure voluptatum
                tempora, atque recusandae necessitatibus nisi accusamus suscipit eaque doloribus laboriosam. Voluptates,
                magnam, ducimus sapiente vitae illum maiores exercitationem accusamus facere saepe explicabo, eveniet
                minima? Optio nisi, facere distinctio neque fugiat soluta dicta non obcaecati atque nihil unde
                aspernatur, vero, modi laboriosam laudantium! Aperiam earum blanditiis nemo. Dolor neque architecto fuga
                et ipsum ex vero nostrum sint.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquid aut temporibus iure voluptatum
                tempora, atque recusandae necessitatibus nisi accusamus suscipit eaque doloribus laboriosam. Voluptates,
                magnam, ducimus sapiente vitae illum maiores exercitationem accusamus facere saepe explicabo, eveniet
                minima? Optio nisi, facere distinctio neque fugiat soluta dicta non obcaecati atque nihil unde
                aspernatur, vero, modi laboriosam laudantium! Aperiam earum blanditiis nemo. Dolor neque architecto fuga
                et ipsum ex vero nostrum sint.quibusdam?</p>

            <div class="text-center">
                <button class="btn btn-secondary btn-theme btn-sm mt-4">Back home</button>
            </div>


        </div>
    </div>
</section>