<div class="card my-5 shadow-e">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p>You can leave a comment using this comment form</p>
        <form>
            <div class="form-group">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control shadow-effect" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="" class="form-label" class="mt-3">Comment</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect" placeholder="Add you comment here"></textarea>
            </div>

            <button class="btn mt-3 btn-theme">Add a comment</button>
        </form>
    </div>
</div>