<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <header></header> -->
                <div class="site-logo">KALICOSC</div>
                <div>
                    <ul class="nav justify-content-center">
                        <div class="nav-link"><a href="" class="nav-link">Home</a></div>
                        <div class="nav-link"><a href="" class="nav-link">About</a></div>
                        <div class="nav-link"><a href="" class="nav-link">Terms & conditions</a></div>
                        <div class="nav-link"><a href="" class="nav-link">Contact</a></div>
                    </ul>
                </div> 
                <p class="mb-2 mt-2"> Copy right © 2020 Kalico Blogsite</p>
            </div>
        </div>
    </div>
</footer>