<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/768474/pexels-photo-768474.jpeg?auto=compress&cs=tinysrgb&w=800"
        alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Feature</small>
        <small class="bg-light text-info text-center ms-3">Views 100,250</small>
        <h5 class="card-title"> HOW TO START A NEW BLOG IN 2023 EDITED NEW CATEGORY</h5>
        <P class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam veritatis sint veniam impedit tempore
            nesciunt temporibus voluptate dignissimos similique magni?</P>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2023</small>

    </div>
</div>