:root {
    --primary-color: rgb(234, 106, 27);
    --secondary-color: rgb(249, 236, 228);
    --body-text-color: #596392;
    --navbar-footer-color: #F9F9F9;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: vr(--body-text-color);
}

.nav-link {
    color: var(--primary-color)
}

.shadow-effect {
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 250, 0.3);
}

.bg-theme {
    background-color: var(--primary-color);
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
}

.text-theme-primary{
    color: var(--primary-color);
}

input[type=text],
input[type=email] {
    height: 60px;
    padding-left: 20px;
    font-size: 13px;
    width: 100%;

}

.btn-theme {
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: var(--primary-color);
}