<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/colorful-solitude-hailey-e-herrera.jpg"
                    alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ms-2">Featured</small>
                    <small class="bg-light text-info text-center ms-2">Views - 100,256</small>
                    <small class="bg-light text-warning text-center ms-2">LAST UPDATED - SEP 20, 2021</small>

                    <h1 class="my-3">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui culpa placeat obcaecati, et quidem
                        dolorum labore ducimus provident accusamus debitis distinctio architecto expedita vero quas,
                        quasi vitae, saepe modi nobis sit aut dignissimos soluta? Quas cumque, ad aperiam laboriosam
                        illo sed provident corrupti dolores eligendi ipsum porro perferendis accusantium, nam omnis
                        vitae commodi? Inventore, veritatis? Laudantium pariatur reprehenderit necessitatibus quos, at
                        nulla, cupiditate quia natus iure officiis vero! Non animi accusamus error debitis sunt sit
                        impedit autem sapiente? Cupiditate veniam nesciunt pariatur perspiciatis iusto, velit cumque ad
                        debitis rem ipsa quaerat porro iure omnis itaque dolore! Commodi vitae suscipit numquam, omnis
                        dolor iste ducimus magnam laboriosam ipsa delectus autem cupiditate eius voluptatum aut ipsum
                        explicabo, sapiente enim expedita culpa voluptatem soluta necessitatibus est aperiam! Blanditiis
                        nulla fugiat quidem nam labore aperiam obcaecati ut sequi nisi! Voluptates omnis, eveniet
                        repellendus est soluta eligendi eum error inventore quia nobis dolorum. Atque placeat
                        architecto, nemo deserunt corporis ut velit dicta qui sequi? Optio ullam laborum vero corrupti
                        natus, ratione voluptate provident voluptatem iure eius perspiciatis, dolor ad dolore maxime
                        omnis esse! Eveniet harum aspernatur quisquam odio accusamus omnis explicabo vel vero, rerum a
                        labore, ea deleniti alias aliquam nemo reprehenderit tempore eius nulla.</P>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>